.button {
  margin-top: 10px;
  font-size: 1.3em;
  padding: 3px;
  border-radius: 5px;
  background-image: linear-gradient(to right, darkgray, gray);
  color: white;
}

.counter-text {
  font-family: "Roboto", Times, serif;
  font-size: 1.2em;
  color: gray;
}
